

  .header_container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width:90%;
    margin:auto;
    height: calc(var(--header-height)+2.5rem);
    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap:3rem;
  }

  .header{
    width:100%;
    background-color:antiquewhite;
    position:fixed;
    top:0;
    left:0;
    z-index:var(--z-fixed);
  } 

  .nav{
    background-color: antiquewhite;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .nav_menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 30px 0;
  }

  .nav_logo{
    display: inline-flex;
    align-items:center
  }

  .nav_list{
    display: flex;
    column-gap: 2rem;
  }

  .nav_link{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .4s;
  }

  .nav_link:hover{
    color:white;
  }

  .nav_close,
  .nav_toggle{
    color:white;
  }

  .nav_toggle{
    font-size:1.25rem;
    cursor:pointer;
  }

  .nav_close,
  .nav_toggle{
    display:none;
  }

  .nav_link:hover::before,
  .nav_link::before{
    content:'';
    position:absolute;
    bottom: -0.5rem;
    left: 0;
    border:1px solid white;
    width: 0%;
    height:2px;
    background-color: white;
    border-radius:25%;
    opacity:0;
    transition: all ease .5s;
  }

  .nav_item .a{
    margin: 0 30px;
    text-transform:uppercase;
    color:white;
    cursor:pointer;

}

.nav_link:hover::before,
.nav-link::before{
    width:52px;
    opacity: 1;
}

.btn_signIn{
    outline-style: none;
    border-style: none;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    z-index:1;
}

.btn_signIn:before{
    content: '';
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:#ebc7b5;
    z-index:-1;
    transform:scaleX(0);
    transform-origin: left;
    transition: .5s;
    transition-timing-function: cubic-bezier(.9, 1.6, .4, .7);
    border-radius: 30px;
}

.btn_signIn:hover:before{
    transform: scaleX(1);
}

button {
    background-color: white;
}